<div class="clearfix" style="padding: 35px 24px 0px 24px;">
	<div style="margin-bottom:25px;">		
		<h1 class="green" style="font-weight:normal;">Thanks <%= @reply_name %>,

		</h1>
		<h2 class="green" style="font-weight:normal;">your choices have been submitted.
		</h2>
	</div>
	<div style="margin-bottom:25px;">		
		<a href="/events/<%= @event_id %>" class="btn"> Return to poll </a>
	</div>

	<div style="margin-top:300px; padding-top:15px; border-top: 2px lightgray solid;">
		Is scheduling appointments a pain for you? <a href="/events/new" class="btn btn-large btn-primary" style="margin-left: 20px;">Create your own ToGather poll now</a>
	</div>
</div>